body {
  margin: 0px; // make the body extend right to the edge of the window
  width: 100%;
  background-color: $body-bg; // important to have the rest page the same color as the footer
  // General Link layout
  a {
    color: $link-color;
    text-decoration: $link-decoration;
    &:hover {
      text-decoration: $link-hover-decoration;
      color: $link-hover-color;
    }
  }
  p {
    text-align: justify;
    margin: 10px 10px 5px 10px;
    &:last-child {
      margin-bottom: 10px;
    }
  }
}
div.views-row {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}
body.maintenance-page { // Styling specific to the maintenance page
  background-color: $body-bg;
}
