.breadcrumb {
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  margin-top: 0px;
  margin-bottom: 0px;

  > li {
    display: inline;
    + li::before {
      // padding-right: .5rem;
      // padding-left: .5rem;
      color: $breadcrumb-divider-color;
      content: "#{$breadcrumb-divider}";
    }
    a {
      color: $breadcrumb-color;
      &:hover {
        text-decoration: inherit;
        color: $breadcrumb-hover-color;
        background: $breadcrumb-hover-bg;
      }
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
.breadcrumbs {
  background-color: $breadcrumb-bg;
  display: block;
  overflow: hidden;
  nav[role=navigation] {
    display: block;
    overflow: auto;
    ol.breadcrumb>li>a {
      padding: 5px;
      display: inline-block;
    }
  }
}
.breadcrumb-region {
  grid-area: breadcrumbs;
}
filler#breadcrumbs {
  background-color: $breadcrumb-bg;
  z-index: -100;
  grid-row-start: breadcrumbs-left-start;
  grid-row-end: breadcrumbs-right-end;
  grid-column-start: breadcrumbs-left-start;
  grid-column-end: breadcrumbs-right-end;
}
