.breadcrumb {
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  list-style: none;
  background-color: $breadcrumb-bg;
  margin-top: 0px;
  margin-bottom: 0px;

  > li {
    float: left;

    + li::before {
      padding-right: .5rem;
      padding-left: .5rem;
      color: $breadcrumb-divider-color;
      content: "#{$breadcrumb-divider}";
    }
    a {
      color: $breadcrumb-color;
      &:hover {
        text-decoration: none;
        color: $breadcrumb-hover-color;
      }
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
#block-bluerain-breadcrumbs {
  background-color: $breadcrumb-bg;
}
