// General Colors

$blue: #0232cc;

// Themed Colors

$brand-primary: $blue;
$brand-secondary: #0033cc;

// General Colors
$link-hover-color: $link-color;

// Header Colors
$header-bg: $body-bg;
$header-menu-bg: $gray-800;
$header-menu-color: $gray-200;

// Main Menu Colors
$main-menu-bg: $brand-secondary;
$main-menu-color: $gray-100;
$main-menu-hover-color: #fff;
$main-menu-active-color: $main-menu-color;
$main-menu-dropdown-bg: $gray-800;
$main-menu-dropdown-color: $gray-200;
$main-menu-dropdown-hover-color: $gray-100;
$main-menu-dropdown-hover-bg: $gray-600;
$main-menu-dropdown-active-color: $gray-100;
$main-menu-dropdown-active-bg: $gray-800;
$main-menu-dropdown-devider: $gray-400;

// Highlight
$highlight-bg: $gray-100 !default;
$highlight-border: 1px $gray-200 solid !default;


// Breadcrumb Color overrides
$breadcrumb-color: $gray-400;
$breadcrumb-hover-color: $gray-800;


// Footer colors
$footer-bg: $gray-800;
$footer-color: $gray-700;
$footer-link-color: $footer-color !default;
$footer-link-hover-color: $footer-link-color !default;
$footer-link-hover-color: $gray-600;
