main{
  @extend .container;
  article {
    img { // no overflow of images, retain proportion
      max-width: 100%;
      height: auto;
    }
    h1, h2, h3, h4, h5, h6 {
      a {
        color: inherit;
        &:hover, &:active, &:visited {
          color:inherit;
          text-decoration: none;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .main-cols {
    @include make-row();
  }
  div.maincontent, aside.sidebar-left, aside.sidebar-right {
    @include make-col-ready();
  }
  aside.sidebar-left, aside.sidebar-right {
    @extend .col;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  div.maincontent {
    @include make-col(12);
    &.one-sidebar {
      @include media-breakpoint-up(sm) {
        order: 2;
        @include make-col(8);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(9);
      }
    }
    &.two-sidebars {
      @include media-breakpoint-up(md) {
        order: 2;
        @include make-col(6);
      }
      @include media-breakpoint-up(xl) {
        @include make-col(8);
      }
    }
  }
  aside.sidebar-left {
    order: 1;
  }
  aside.sidebar-right {
    order: 3;
  }
}
ul.links.inline{
  margin: 5px 0px;
  padding: 0px;
  li {
    list-style: none;
    padding: 10px;
    margin-right: 10px;
    display: inline-block;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.maintenance-page main{
  @extend .container;
}
