main{
  article {
    img { // no overflow of images, retain proportion
      max-width: 100%;
      height: auto;
    }
    picture > img {
      width: 100%;
    }
    h1, h2, h3, h4, h5, h6 {
      a {
        color: inherit;
        &:hover, &:active, &:visited {
          color:inherit;
          text-decoration: none;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
ul.links.inline{
  margin: 5px 0px;
  padding: 0px;
  li {
    list-style: none;
    padding: 10px;
    margin-right: 10px;
    display: inline-block;
    &:last-child {
      margin-right: 0px;
    }
  }
}
