// Styling
footer.pagefooter {
  grid-area: footer;
  background-color: $footer-bg;
  color: $footer-color;
  display: grid;
  overflow-y: hidden;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-gap: 10px;
  grid-auto-flow: row dense;
  a {
    color: $footer-link-color;
    &:hover {
      color: $footer-link-hover-color;
      text-decoration: $footer-link-hover-decoration;
    }
  }
  section {
    padding: 1rem 0rem 3rem;
  }
  section.credits > div > div {
    padding: 0rem 1rem;
  }
  nav {
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      width: 100%;
      li {
        border-top: 1px $footer-link-color solid;
        border-bottom: 1px $footer-link-color solid;
        &:first-child {
          border-top: 2px $footer-link-color solid;
        }
        &:last-child {
          border-bottom: 2px $footer-link-color solid;
        }
        a {
          padding: 10px 15px 10px;
          display: block;
        }
      }
    }
  }
  @media screen and (min-width: #{map-get($grid-breakpoints, "sm")}) {
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: #{map-get($grid-breakpoints, "md")}) {
    grid-template-columns: repeat(3, minmax(200px, 300px));
    justify-content: space-evenly;
  }
}
