// Styling
footer.pagefooter {
  background-color: $footer-bg;
  color: $footer-color;
  display: contents;
  > * {
    color: inherit;
    background: inherit;
    border-top: inherit;
    border-bottom: inherit;
  }
  &:first-child {
    border-left: inherit;
  }
  &:last-child {
    border-right: inherit;
  }
  a {
    color: $footer-link-color;
    &:hover {
      color: $footer-link-hover-color;
      text-decoration: $footer-link-hover-decoration;
    }
  }
  section {
    padding: 1rem 0rem 3rem;
  }
  section.credits > div > div {
    padding: 0rem 1rem;
  }
  nav {
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax($footer-menu-width, 1fr));
      grid-column-gap: 15px;
      li {
        border-top: $footer-menu-border-width $footer-link-color solid;
        border-bottom: $footer-menu-border-width $footer-link-color solid;
        margin-bottom: - $footer-menu-border-width;
        a {
          padding: 10px 15px 10px;
          display: block;
        }
      }
    }
  }
  .footer {
    grid-area: footer;
  }
  .footer-menu {
    grid-area: footer-menu;
  }
  .credits {
    grid-area: credits;
  }
}
