// Varibales
$footer-link-hover-decoration: none;


// Styling
footer.pagefooter {
  background-color: $footer-bg;
  color: $footer-color;
  display: block;
  overflow: auto;
  a {
    color: $footer-link-color;
    &:hover {
      color: $footer-link-hover-color;
      text-decoration: $footer-link-hover-decoration;
    }
  }
   section {
     padding: 1rem 0rem 3rem;
   }
  nav {
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      width: 100%;
      li {
        border-top: 1px $footer-link-color solid;
        border-bottom: 1px $footer-link-color solid;
        &:first-child {
          border-top: 2px $footer-link-color solid;
        }
        &:last-child {
          border-bottom: 2px $footer-link-color solid;
        }
        a {
          padding: 10px 15px 10px;
          display: block;
        }
      }
    }
  }
}
