header {
  background-color: $header-bg;
  position: static;
  #header-menu{
    width: 100%;
    background-color: $header-menu-bg;
    color: $header-menu-color;
  }
  nav, div[role~=navigation] {
    flex: 0 0 auto;
    display: inline-block;
    margin-left: 40px;
    &:first-child{
      margin-left: inherit;
    }
    >h2 {
      display: none;
    }
    ul,
    ol {
      list-style: none;
      padding: 5px 0px;
      margin: 0px auto 0px;
      li {
        // display: inline-block;
        // margin-right: 10px;
        // padding-right: 10px;
        // border-right: 1px solid $gray-300;
        // flex: 0 0 auto;
        // justify-content: flex-end;
        // &:last-child {
        //   margin-right: 0px;
        //   padding-right: 0px;
        //   border-right: none;
        // }
        border-right-color: darken($header-menu-color,15%);
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            font-weight: 900;
            text-decoration: none;
            letter-spacing: -0.4px;
            color: inherit;
          }
        }
      }
    }
  }
}

.logo {
  max-height: 300px;
  padding: 0px 10px 0px 0px;
  a img, img {
    max-height: 285px;
    min-height: 35px;
    max-width: 100%;
    width: auto;
  }
}

.logo-search .search>div {
  padding: 5px 10px 10px;
  h2 {
    display: none;
  }
  form {
    text-align: right;
    div {
      input {
        text-align: left;
      }
      input[type=search] {
        &:focus {
          @include box-shadows(0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px $brand-primary);
        }
      }
      input[type=submit] {
        display: none;
      }
    }
    .input-group {
      align-items: center;
    }
  }
}
.maintenance-page header {
  border-bottom: 45px $brand-primary solid;
  a:hover {
    text-decoration: none;
  }
}