header {
  background-color: $header-bg;
  position: static;
  #header-menu{
    width: 100%;
    @include make-container;
    background-color: $header-menu-bg;
    color: $header-menu-color;
  }
  nav {
    >h2 {
      display: none;
    }
    ul,
    ol {
      list-style: none;
      padding: 5px 0px;
      margin: 0px auto 0px;
      @extend .container;
      text-align: right;
      li {
        // float: right;
        display: inline-block;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid \$gray-300;
        &:last-child {
          margin: 0px;
          padding: 0px;
          border: none;
        }
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            font-weight: 900;
            text-decoration: none;
            letter-spacing: -0.4px;
            color: inherit;
          }
        }
      }
    }
  }
  div.language-switcher-language-url {
    @extend.container;
    ul.language-switcher-links {
      > li {
        margin: 5px 0px;
      }
      @extend %language-switcher-links-class;
    }
  }
  .logo-search {
    @extend .container;
    @media (max-width: map-get($grid-breakpoints, 'sm') - 1px){
      .search {
        .search-block-form form .input-group {
          display: flex;
          input {
            flex: 1 1 150px;
          }
          span {
            flex: 0 0 15px;
            margin-top: auto;
            margin-bottom: auto;
          }
        }
      }
    }
    @media (min-width: map-get($grid-breakpoints, 'sm')){
      display: flex;
      >.logo, >.search {
        flex-grow: 1;
        flex-shrink: 1;
        flex-flow: row wrap;
      }
      .logo:last-child{
        flex-basis: 100%;
      }
      .search:first-child{
        flex-basis: 100%;
      }
      .logo {
        flex-basis: 100%;
      }
      .search {
        flex-basis: 100%;
      }
    }
    @media (min-width: map-get($grid-breakpoints, 'lg')){
      .logo {
        flex-basis: 65%;
      }
      .search {
        flex-basis: 35%;
      }
    }
    @media (min-width: map-get($grid-breakpoints, 'xl')){
      .logo {
        flex-basis: 70%;
      }
      .search {
        flex-basis: 30%;
      }
    }
  }
}

.logo {
  max-height: 300px;
  padding: 0px 10px 0px 0px;
  a img, img {
    max-height: 285px;
    min-height: 35px;
    max-width: 100%;
    width: auto;
  }
}

.logo-search .search>div {
  padding: 5px 10px 10px;
  h2 {
    display: none;
  }
  form {
    text-align: right;
    div {
      input {
        text-align: left;
      }
      input[type=search] {
        @media (min-width: map-get($grid-breakpoints, 'sm')){
          width: 150px;
          &:focus {
            width: 215px;
          }
        }
        @media (min-width: map-get($grid-breakpoints, 'md')){
          width: 150px;
          &:focus {
            width: 250px;
          }
        }
        &:focus {
          @include box-shadows(0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px $brand-primary);
        }
      }
      input[type=submit] {
        display: none;
      }
    }
    .input-group {
      align-items: center;
    }
  }
}
.maintenance-page header {
  .site-branding{
    @extend .container;
  }
  border-bottom: 45px $brand-primary solid;
  a:hover {
    text-decoration: none;
  }
}
