div.language-switcher-language-session {
    ul.language-switcher-links{
      display: block;
      overflow: auto;
      padding: 0px;
      margin: 0px;
      li {
        display: inline;
        margin: 5px 0px;
        a.language-link {
          padding: 0px 5px;
        }
        &:last-child {
          border-right: 0px;
        }
      }
    }
  }