// Length definitions for use in the various parts
// ordered according to place of occurence

// Main Menu
$dropdown-menu-width: 200px;

$dropdown-menu-item-padding-top: 10px;
$dropdown-menu-item-padding-right: 10px;
$dropdown-menu-item-padding-bottom: 10px;
$dropdown-menu-item-padding-left: 10px;

$dropdown-menu-padding-horizontal: 0px;
$dropdown-menu-padding-vertical: 0px;

$dropdown-menu-seperator-width: 5px;

$dropdown-menu-border-top-width: 1px;

// Breadcrumb
$breadcrumb-padding-x: 0px;

// Footer Menu
$footer-menu-width: 200px;
