// Length definitions for use in the various parts
// ordered according to place of occurence

// Main Menu
$dropdown-menu-width: 200px;

$dropdown-menu-item-padding-top: 10px;
$dropdown-menu-item-padding-right: 10px;
$dropdown-menu-item-padding-bottom: 10px;
$dropdown-menu-item-padding-left: 10px;

$dropdown-menu-padding-horizontal: 0px;
$dropdown-menu-padding-vertical: 0px;

$dropdown-menu-seperator-width: 5px;

$dropdown-menu-border-top-width: 1px;

// Breadcrumb
$breadcrumb-padding-x: 0px !default;
$breadcrumb-padding-y: $breadcrumb-padding-x !default;

// Pagination
$pagination-padding-x: 0px !default;
$pagination-padding-y: $pagination-padding-x !default;
$pagination-line-height: 3;
$pagination-border-width: 2px !default;

// Footer Menu
$footer-menu-width: 200px;
