div#main-navbar {
  background: $main-menu-bg;
  border-bottom: 1px darken($main-menu-bg,10%) solid;
  display: inline-block;
  width: 100%;
  >div {
    justify-content: space-between;
    >div {
      display: inline-block;
    }
  }
  nav { // Menu part
    flex: 0 1 auto;
    >ul, >ol { // top menu level
      list-style: none;
      padding-right: -30px;
      padding-left: 0px;
      margin: 0px auto;
      display: inline-flex;
      >li, >li.active { // top menu level items
        display: inline-block;
        flex: 0 1 auto;
        position: relative;
        margin-right: 30px;
        &:hover {
          > a { // top menu links hover
            color: $main-menu-hover-color;
            text-decoration: inherit;
            @include box-shadows(0px -2px 0px $main-menu-hover-color inset);
          }
        }
        > a { //top menu links
          padding: 13px 0px 15px;
          color: $main-menu-color;
          text-decoration: none;
          display: inline-block;
        }
        &.dropdown { // top menu level items with dropdown submenu
          > a:after {
            font-family: "FontAwesome";
            content: "\f0d7";
            color: $main-menu-color;
          }
          >ul.dropdown-menu { // first level submenu
            top: 50px;
            left: 0px;
            z-index: 1000;
            >li, >li.active { // first level submenu items
              &.dropdown {
                > a:after {
                  font-family: "FontAwesome";
                  content: "\f0da";
                  color: $main-menu-dropdown-color;
                }
              }
              > a {
                color: $main-menu-dropdown-color;
                &:hover {
                  box-shadow: none;
                  color: $main-menu-dropdown-hover-color;
                }
              }
            }
          }
          ul.dropdown-menu { // submenus in general
            display: none;
            list-style: none;
            position: absolute;
            width: $dropdown-menu-width;
            padding: 0px;
            background-color: $main-menu-dropdown-bg;
            color: $main-menu-dropdown-color;
            li, li.active {
              border-top: $dropdown-menu-border-top-width $main-menu-dropdown-devider solid;
              padding: 0px;
              position: relative;
              &:last-child {
                border-bottom: 1px $main-menu-dropdown-devider solid;
              }
              &:hover {
                color: $main-menu-dropdown-hover-color;
                background: $main-menu-dropdown-hover-bg;
              }
              &.dropdown {
                > a:after {
                  font-family: "FontAwesome";
                  content: " \f0da";
                  color: $main-menu-dropdown-color;
                }
                ul.dropdown-menu {
                  border-left: $dropdown-menu-seperator-width $main-menu-dropdown-devider solid;
                }
                &:hover > ul.dropdown-menu {
                  display: block;
                }
                > ul.dropdown-menu {
                  left: $dropdown-menu-width - $dropdown-menu-seperator-width - $dropdown-menu-padding-horizontal;
                  top: -$dropdown-menu-border-top-width;
                }
              }
              > a {
                color: $main-menu-dropdown-color;
                &:hover {
                  box-shadow: none;
                  color: $main-menu-dropdown-hover-color;
                }
              }
              a {
                padding: $dropdown-menu-item-padding-top $dropdown-menu-item-padding-right $dropdown-menu-item-padding-bottom $dropdown-menu-item-padding-left;
                display: inline-block;
                width: 100%;
                min-height: 45px;
              }
            }
          }
          &:hover {
            >ul.dropdown-menu {
              display: block;
            }
          }
        }
      }
      >li.active {
        >a {
          @include box-shadows(0px -1px 0px $main-menu-active-color inset);
        }
        >a.is-active {
          color: $main-menu-active-color;
        }
        &.dropdown ul.dropdown-menu li.active {
          background-color: $main-menu-dropdown-active-bg;
          a, a.is-active {
            color: $main-menu-dropdown-active-color;
          }
        }
      }
    }
  }
  div.language-switcher-language-url {
    flex: 0 0 auto;
    ul.language-switcher-links{
      padding: 13px 0px 15px 30px;
      display: inline-block;
      >li {
        border-right-color: darken($main-menu-color,20%);
        &:last-child {
          border: none;
        }
        a.language-link {
          color: darken($main-menu-color,10%);
          &:hover {
            color: $main-menu-hover-color;
          }
          &.is-active:hover {
            color: darken($main-menu-color,10%);
          }
        }
      }
    }
  }
}

// * Language Switcher general Style

div.language-switcher-language-url {
  ul.language-switcher-links {
    margin: auto 0px;
    padding-left: 0px;
    display: inline-flex;
    justify-content: flex-end;
    list-style: none;
    >li {
      flex: 0 0 auto;
      display: inline-block;
      padding-right: 10px;
      margin-right: 10px;
      border-right-width: 1px;
      border-right-style: solid;
      &:last-child {
        border-right: none;
        margin-right: 0px;
        padding-right: 0px;
      }
      a.language-link:hover {
        text-decoration: none;
      }
    }
  }
}
