div#main-navbar {
  background: $main-menu-bg;
  color: $main-menu-color;
  border-bottom: 1px darken($main-menu-bg,20%) solid;
  display: contents;
  overflow: auto;
  width: 100%;
  #mobile-menu-toggle {
    grid-area: main-menu-toggle;
    text-align: right;
    color: $main-menu-color;
    background: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    line-height: 0.9;
    border-style: none;
    padding-bottom: 7px;
    cursor: pointer;
  }
  > * {
    color: inherit;
    background: inherit;
    border-top: inherit;
    border-bottom: inherit;
  }
  &:first-child {
    border-left: inherit;
  }
  &:last-child {
    border-right: inherit;
  }
  >nav { // Menu part
    grid-area: main-menu;
    padding-left: $main-menu-navbar-padding-left;
    padding-right: $main-menu-navbar-padding-right;
    >ul, >ol {
      padding: 0px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-column-gap: 10px;
      >li {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        border: $main-menu-item-border-width $main-menu-item-border-color solid;
          &:active {
            color: $main-menu-active-color;
          }
          &:focus, &:hover {
            color: $main-menu-hover-color;
            background: $main-menu-hover-bg;
          }
        >a {
          display: block;
          padding: 10px;
          color: inherit;
          text-decoration: none;
          &:active {
            color: inherit;
          }
          &:focus, &:hover {
            color: inherit;
          }
          &:hover, &:focus, &:active {
            text-decoration: inherit;
          }
        }
        ul, ol {
          display: none;
        }
        &.active > ul, &.active > ol {
          display: inline;
        }
      }
    }
  }
  div#lang-switch {
    grid-area: language-switcher;
  }
  div.language-switcher-language-url {
    padding: 0px $main-menu-navbar-padding;
    margin-bottom: 10px;
    @media screen and (max-width: calc(#{map-get($grid-breakpoints, "md")} - 1px)) {
      overflow-x: scroll;
    }
    ul.language-switcher-links{
      li {
        border-right-color: $main-menu-item-border-color;
        a.language-link {
          color: darken($main-menu-color,10%);
          &:hover {
            color: $main-menu-hover-color;
          }
          &.is-active:hover {
            color: darken($main-menu-color,10%);
          }
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  @media screen and (min-width: #{map-get($grid-breakpoints, "md")}) { // larger screens
    #mobile-menu-toggle {
      display: none;
    }
    >nav { // Menu part
      display: inline-block;
      padding-left: 0px;
      >ul, >ol { // top menu level
        padding: 0px;
        margin: 0px;
        display: inline-flex;
        >li { // top menu level items
          flex: 0 1 auto;
          position: relative;
          margin-right: 30px;
          border-style: none;
          > a { //top menu links
            padding: 13px 0px 15px;
            color: $main-menu-color;
            text-decoration: none;
            display: inline-block;
            &:hover {
              color: $main-menu-hover-color;
              text-decoration: inherit;
              @include box-shadows(0px -2px 0px $main-menu-hover-color inset);
            }
          }
          &.dropdown { // top menu level items with dropdown submenu
            > a:after {
              content: "▽";
              color: $main-menu-color;
            }
            >ul.dropdown-menu { // first level submenu
              top: 50px;
              left: 0px;
              z-index: 1000;
              >li { // first level submenu items
                &.dropdown {
                  > a:after {
                    content: "▷";
                    color: $main-menu-dropdown-color;
                  }
                }
                > a {
                  color: $main-menu-dropdown-color;
                  &:hover {
                    box-shadow: none;
                    color: $main-menu-dropdown-hover-color;
                  }
                }
              }
            }
            ul.dropdown-menu { // submenus in general
              display: none;
              position: absolute;
              width: $dropdown-menu-width;
              padding: 0px;
              background-color: $main-menu-dropdown-bg;
              color: $main-menu-dropdown-color;
              li {
                border-top: $dropdown-menu-border-top-width $main-menu-dropdown-devider solid;
                padding: 0px;
                position: relative;
                &:last-child {
                  border-bottom: 1px $main-menu-dropdown-devider solid;
                }
                &:hover {
                  color: $main-menu-dropdown-hover-color;
                  background: $main-menu-dropdown-hover-bg;
                }
                &.dropdown {
                  > a:after {
                    content: " &#9655;";
                    color: $main-menu-dropdown-color;
                  }
                  ul.dropdown-menu {
                    border-left: $dropdown-menu-seperator-width $main-menu-dropdown-devider solid;
                  }
                  &:hover > ul.dropdown-menu {
                    display: block;
                  }
                  > ul.dropdown-menu {
                    left: $dropdown-menu-width - $dropdown-menu-seperator-width - $dropdown-menu-padding-x;
                    top: -$dropdown-menu-border-top-width;
                  }
                }
                > a {
                  color: $main-menu-dropdown-color;
                  &:hover {
                    box-shadow: none;
                    color: $main-menu-dropdown-hover-color;
                  }
                }
                a {
                  padding: $dropdown-menu-item-padding-top $dropdown-menu-item-padding-right $dropdown-menu-item-padding-bottom $dropdown-menu-item-padding-left;
                  display: inline-block;
                  width: 100%;
                  min-height: 45px;
                }
              }
            }
            &:hover {
              >ul.dropdown-menu {
                display: block;
              }
            }
          }
        }
        >li.active {
          >a {
            @include box-shadows(0px -1px 0px $main-menu-active-color inset);
          }
          >a.is-active {
            color: $main-menu-active-color;
          }
          &.dropdown ul.dropdown-menu li.active {
            background-color: $main-menu-dropdown-active-bg;
            a, a.is-active {
              color: $main-menu-dropdown-active-color;
            }
          }
        }
        >li:last-child {
          margin-right: 0px;
        }
      }
    }
    div#lang-switch {
      display: inline-block;
    }
  }
}

// * Language Switcher general Style

div.language-switcher-language-url {
  ul.language-switcher-links {
    margin: 5px auto 0px;
    padding-left: 0px;
    display: inline-flex;
    justify-content: flex-end;
    >li {
      flex: 0 0 auto;
      display: inline-block;
      padding-right: 10px;
      margin-right: 10px;
      margin-top: 13px;
      margin-bottom: 10px;
      border-right-width: 1px;
      border-right-style: solid;
      &:last-child {
        border-right: none;
        padding-right: 0px;
      }
      a.language-link:hover {
        text-decoration: none;
      }
    }
  }
}

filler#main-menu{
  background: $main-menu-bg;
  border-bottom: 1px darken($main-menu-bg,20%) solid;
  grid-row-start: main-menu-left-start;
  grid-row-end: main-menu-right-end;
  grid-column-start: main-menu-left-start;
  grid-column-end: main-menu-right-end;
  z-index: -100;
}