@import url(../../dependencies/fontawesome/css/font-awesome.min.css);
.container, header nav ul,
header nav ol, header .logo-search, .highlight > *, #block-bluerain-breadcrumbs nav {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0rem;
  padding-right: 0rem;
}

@media (min-width: 396px) {
  .container, header nav ul,
  header nav ol, header .logo-search, .highlight > *, #block-bluerain-breadcrumbs nav {
    max-width: 378px;
  }
}

@media (min-width: 576px) {
  .container, header nav ul,
  header nav ol, header .logo-search, .highlight > *, #block-bluerain-breadcrumbs nav {
    max-width: 544px;
  }
}

@media (min-width: 768px) {
  .container, header nav ul,
  header nav ol, header .logo-search, .highlight > *, #block-bluerain-breadcrumbs nav {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, header nav ul,
  header nav ol, header .logo-search, .highlight > *, #block-bluerain-breadcrumbs nav {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container, header nav ul,
  header nav ol, header .logo-search, .highlight > *, #block-bluerain-breadcrumbs nav {
    max-width: 1140px;
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0rem;
  padding-right: 0rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0rem;
  margin-right: 0rem;
}

.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12, header .logo-search .logo, header .logo-search .search, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0rem;
  padding-left: 0rem;
  width: 100%;
}

.col-xxs {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  min-height: 1px;
  padding-right: 0rem;
  padding-left: 0rem;
}

.col-xxs-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-xxs-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-xxs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-xxs-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xxs-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-xxs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-xxs-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-xxs-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-xxs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-xxs-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-xxs-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-xxs-12, header .logo-search .logo, header .logo-search .search {
  flex: 0 0 100%;
  max-width: 100%;
}

.pull-xxs-0 {
  right: auto;
}

.pull-xxs-1 {
  right: 8.3333333333%;
}

.pull-xxs-2 {
  right: 16.6666666667%;
}

.pull-xxs-3 {
  right: 25%;
}

.pull-xxs-4 {
  right: 33.3333333333%;
}

.pull-xxs-5 {
  right: 41.6666666667%;
}

.pull-xxs-6 {
  right: 50%;
}

.pull-xxs-7 {
  right: 58.3333333333%;
}

.pull-xxs-8 {
  right: 66.6666666667%;
}

.pull-xxs-9 {
  right: 75%;
}

.pull-xxs-10 {
  right: 83.3333333333%;
}

.pull-xxs-11 {
  right: 91.6666666667%;
}

.pull-xxs-12 {
  right: 100%;
}

.push-xxs-0 {
  left: auto;
}

.push-xxs-1 {
  left: 8.3333333333%;
}

.push-xxs-2 {
  left: 16.6666666667%;
}

.push-xxs-3 {
  left: 25%;
}

.push-xxs-4 {
  left: 33.3333333333%;
}

.push-xxs-5 {
  left: 41.6666666667%;
}

.push-xxs-6 {
  left: 50%;
}

.push-xxs-7 {
  left: 58.3333333333%;
}

.push-xxs-8 {
  left: 66.6666666667%;
}

.push-xxs-9 {
  left: 75%;
}

.push-xxs-10 {
  left: 83.3333333333%;
}

.push-xxs-11 {
  left: 91.6666666667%;
}

.push-xxs-12 {
  left: 100%;
}

.offset-xxs-1 {
  margin-left: 8.3333333333%;
}

.offset-xxs-2 {
  margin-left: 16.6666666667%;
}

.offset-xxs-3 {
  margin-left: 25%;
}

.offset-xxs-4 {
  margin-left: 33.3333333333%;
}

.offset-xxs-5 {
  margin-left: 41.6666666667%;
}

.offset-xxs-6 {
  margin-left: 50%;
}

.offset-xxs-7 {
  margin-left: 58.3333333333%;
}

.offset-xxs-8 {
  margin-left: 66.6666666667%;
}

.offset-xxs-9 {
  margin-left: 75%;
}

.offset-xxs-10 {
  margin-left: 83.3333333333%;
}

.offset-xxs-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 396px) {
  .col-xs {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-height: 1px;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .col-xs-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xs-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xs-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xs-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xs-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-xs-0 {
    right: auto;
  }
  .pull-xs-1 {
    right: 8.3333333333%;
  }
  .pull-xs-2 {
    right: 16.6666666667%;
  }
  .pull-xs-3 {
    right: 25%;
  }
  .pull-xs-4 {
    right: 33.3333333333%;
  }
  .pull-xs-5 {
    right: 41.6666666667%;
  }
  .pull-xs-6 {
    right: 50%;
  }
  .pull-xs-7 {
    right: 58.3333333333%;
  }
  .pull-xs-8 {
    right: 66.6666666667%;
  }
  .pull-xs-9 {
    right: 75%;
  }
  .pull-xs-10 {
    right: 83.3333333333%;
  }
  .pull-xs-11 {
    right: 91.6666666667%;
  }
  .pull-xs-12 {
    right: 100%;
  }
  .push-xs-0 {
    left: auto;
  }
  .push-xs-1 {
    left: 8.3333333333%;
  }
  .push-xs-2 {
    left: 16.6666666667%;
  }
  .push-xs-3 {
    left: 25%;
  }
  .push-xs-4 {
    left: 33.3333333333%;
  }
  .push-xs-5 {
    left: 41.6666666667%;
  }
  .push-xs-6 {
    left: 50%;
  }
  .push-xs-7 {
    left: 58.3333333333%;
  }
  .push-xs-8 {
    left: 66.6666666667%;
  }
  .push-xs-9 {
    left: 75%;
  }
  .push-xs-10 {
    left: 83.3333333333%;
  }
  .push-xs-11 {
    left: 91.6666666667%;
  }
  .push-xs-12 {
    left: 100%;
  }
  .offset-xs-0 {
    margin-left: 0%;
  }
  .offset-xs-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xs-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xs-3 {
    margin-left: 25%;
  }
  .offset-xs-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xs-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xs-6 {
    margin-left: 50%;
  }
  .offset-xs-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xs-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xs-9 {
    margin-left: 75%;
  }
  .offset-xs-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xs-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-height: 1px;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-sm-0 {
    right: auto;
  }
  .pull-sm-1 {
    right: 8.3333333333%;
  }
  .pull-sm-2 {
    right: 16.6666666667%;
  }
  .pull-sm-3 {
    right: 25%;
  }
  .pull-sm-4 {
    right: 33.3333333333%;
  }
  .pull-sm-5 {
    right: 41.6666666667%;
  }
  .pull-sm-6 {
    right: 50%;
  }
  .pull-sm-7 {
    right: 58.3333333333%;
  }
  .pull-sm-8 {
    right: 66.6666666667%;
  }
  .pull-sm-9 {
    right: 75%;
  }
  .pull-sm-10 {
    right: 83.3333333333%;
  }
  .pull-sm-11 {
    right: 91.6666666667%;
  }
  .pull-sm-12 {
    right: 100%;
  }
  .push-sm-0 {
    left: auto;
  }
  .push-sm-1 {
    left: 8.3333333333%;
  }
  .push-sm-2 {
    left: 16.6666666667%;
  }
  .push-sm-3 {
    left: 25%;
  }
  .push-sm-4 {
    left: 33.3333333333%;
  }
  .push-sm-5 {
    left: 41.6666666667%;
  }
  .push-sm-6 {
    left: 50%;
  }
  .push-sm-7 {
    left: 58.3333333333%;
  }
  .push-sm-8 {
    left: 66.6666666667%;
  }
  .push-sm-9 {
    left: 75%;
  }
  .push-sm-10 {
    left: 83.3333333333%;
  }
  .push-sm-11 {
    left: 91.6666666667%;
  }
  .push-sm-12 {
    left: 100%;
  }
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-height: 1px;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-md-0 {
    right: auto;
  }
  .pull-md-1 {
    right: 8.3333333333%;
  }
  .pull-md-2 {
    right: 16.6666666667%;
  }
  .pull-md-3 {
    right: 25%;
  }
  .pull-md-4 {
    right: 33.3333333333%;
  }
  .pull-md-5 {
    right: 41.6666666667%;
  }
  .pull-md-6 {
    right: 50%;
  }
  .pull-md-7 {
    right: 58.3333333333%;
  }
  .pull-md-8 {
    right: 66.6666666667%;
  }
  .pull-md-9 {
    right: 75%;
  }
  .pull-md-10 {
    right: 83.3333333333%;
  }
  .pull-md-11 {
    right: 91.6666666667%;
  }
  .pull-md-12 {
    right: 100%;
  }
  .push-md-0 {
    left: auto;
  }
  .push-md-1 {
    left: 8.3333333333%;
  }
  .push-md-2 {
    left: 16.6666666667%;
  }
  .push-md-3 {
    left: 25%;
  }
  .push-md-4 {
    left: 33.3333333333%;
  }
  .push-md-5 {
    left: 41.6666666667%;
  }
  .push-md-6 {
    left: 50%;
  }
  .push-md-7 {
    left: 58.3333333333%;
  }
  .push-md-8 {
    left: 66.6666666667%;
  }
  .push-md-9 {
    left: 75%;
  }
  .push-md-10 {
    left: 83.3333333333%;
  }
  .push-md-11 {
    left: 91.6666666667%;
  }
  .push-md-12 {
    left: 100%;
  }
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-height: 1px;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4, header .logo-search .search {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8, header .logo-search .logo {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-lg-0 {
    right: auto;
  }
  .pull-lg-1 {
    right: 8.3333333333%;
  }
  .pull-lg-2 {
    right: 16.6666666667%;
  }
  .pull-lg-3 {
    right: 25%;
  }
  .pull-lg-4 {
    right: 33.3333333333%;
  }
  .pull-lg-5 {
    right: 41.6666666667%;
  }
  .pull-lg-6 {
    right: 50%;
  }
  .pull-lg-7 {
    right: 58.3333333333%;
  }
  .pull-lg-8 {
    right: 66.6666666667%;
  }
  .pull-lg-9 {
    right: 75%;
  }
  .pull-lg-10 {
    right: 83.3333333333%;
  }
  .pull-lg-11 {
    right: 91.6666666667%;
  }
  .pull-lg-12 {
    right: 100%;
  }
  .push-lg-0 {
    left: auto;
  }
  .push-lg-1 {
    left: 8.3333333333%;
  }
  .push-lg-2 {
    left: 16.6666666667%;
  }
  .push-lg-3 {
    left: 25%;
  }
  .push-lg-4 {
    left: 33.3333333333%;
  }
  .push-lg-5 {
    left: 41.6666666667%;
  }
  .push-lg-6 {
    left: 50%;
  }
  .push-lg-7 {
    left: 58.3333333333%;
  }
  .push-lg-8 {
    left: 66.6666666667%;
  }
  .push-lg-9 {
    left: 75%;
  }
  .push-lg-10 {
    left: 83.3333333333%;
  }
  .push-lg-11 {
    left: 91.6666666667%;
  }
  .push-lg-12 {
    left: 100%;
  }
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-height: 1px;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-xl-0 {
    right: auto;
  }
  .pull-xl-1 {
    right: 8.3333333333%;
  }
  .pull-xl-2 {
    right: 16.6666666667%;
  }
  .pull-xl-3 {
    right: 25%;
  }
  .pull-xl-4 {
    right: 33.3333333333%;
  }
  .pull-xl-5 {
    right: 41.6666666667%;
  }
  .pull-xl-6 {
    right: 50%;
  }
  .pull-xl-7 {
    right: 58.3333333333%;
  }
  .pull-xl-8 {
    right: 66.6666666667%;
  }
  .pull-xl-9 {
    right: 75%;
  }
  .pull-xl-10 {
    right: 83.3333333333%;
  }
  .pull-xl-11 {
    right: 91.6666666667%;
  }
  .pull-xl-12 {
    right: 100%;
  }
  .push-xl-0 {
    left: auto;
  }
  .push-xl-1 {
    left: 8.3333333333%;
  }
  .push-xl-2 {
    left: 16.6666666667%;
  }
  .push-xl-3 {
    left: 25%;
  }
  .push-xl-4 {
    left: 33.3333333333%;
  }
  .push-xl-5 {
    left: 41.6666666667%;
  }
  .push-xl-6 {
    left: 50%;
  }
  .push-xl-7 {
    left: 58.3333333333%;
  }
  .push-xl-8 {
    left: 66.6666666667%;
  }
  .push-xl-9 {
    left: 75%;
  }
  .push-xl-10 {
    left: 83.3333333333%;
  }
  .push-xl-11 {
    left: 91.6666666667%;
  }
  .push-xl-12 {
    left: 100%;
  }
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}

body {
  margin: 0px;
  width: 100%;
  background-color: #373a3c;
}

body a {
  color: #0275d8;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
  color: #0275d8;
}

body p {
  text-align: justify;
  margin: 0px 0px 16px 0px;
}

.layout-container {
  background-color: #fff;
  color: #373a3c;
}

.margin-xxs-left > *:first-child, .margin-xxs > *:first-child {
  margin-left: 0.9125rem;
}

.margin-xxs-right > *:last-child, .margin-xxs > *:last-child {
  margin-right: 0.9125rem;
}

@media (min-width: 396px) {
  .margin-xs-left > *:first-child, .margin-xs > *:first-child {
    margin-left: 0.9125rem;
  }
  .margin-xs-right > *:last-child, .margin-xs > *:last-child {
    margin-right: 0.9125rem;
  }
}

@media (min-width: 576px) {
  .margin-sm-left > *:first-child, .margin-sm > *:first-child {
    margin-left: 0.9125rem;
  }
  .margin-sm-right > *:last-child, .margin-sm > *:last-child {
    margin-right: 0.9125rem;
  }
}

@media (min-width: 768px) {
  .margin-md-left > *:first-child, .margin-md > *:first-child {
    margin-left: 0.9125rem;
  }
  .margin-md-right > *:last-child, .margin-md > *:last-child {
    margin-right: 0.9125rem;
  }
}

@media (min-width: 992px) {
  .margin-lg-left > *:first-child, .margin-lg > *:first-child {
    margin-left: 0.9125rem;
  }
  .margin-lg-right > *:last-child, .margin-lg > *:last-child {
    margin-right: 0.9125rem;
  }
}

@media (min-width: 1200px) {
  .margin-xl-left > *:first-child, .margin-xl > *:first-child {
    margin-left: 0.9125rem;
  }
  .margin-xl-right > *:last-child, .margin-xl > *:last-child {
    margin-right: 0.9125rem;
  }
}

input {
  line-height: 1.3;
  border-radius: 12px;
  border: 1px solid #0232cc;
  background: none;
  margin: 5px 0px;
}

input[type=search],
input[type=submit],
input[type=text],
input[type=number],
input[type=email],
input[type=password] {
  padding: 1px 8px 2px;
}

input.button {
  line-height: 1.5;
  border-radius: 17px;
  padding: 3px 12px;
}

.form-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-block-form input {
  line-height: 2;
  border-radius: 25px;
  margin: 5px 10px;
}

.search-block-form input[type=search], .search-block-form input[type=submit] {
  padding: 5px 15px;
}

div#block-bluerain-local-tasks {
  display: block;
  clear: both;
}

div#block-bluerain-local-tasks ul {
  list-style: none;
  padding: 0px;
  clear: both;
  width: 100%;
  border-bottom: 1px #373a3c solid;
}

div#block-bluerain-local-tasks ul li {
  padding: 5px 10px 0px 10px;
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px #373a3c solid;
  border-right: 1px #373a3c solid;
  border-left: 1px #373a3c solid;
  margin-right: 10px;
}

div#block-bluerain-local-tasks ul li a.is-active {
  color: #55595c;
}

div#block-bluerain-local-tasks ul li a:hover {
  text-decoration: none;
}

div#edit-body-wrapper .field-edit-link button {
  border: none;
  background: none;
  cursor: pointer;
  color: #0275d8;
  font-weight: 700;
}

div#edit-body-wrapper textarea {
  min-width: 150px;
  height: 200px;
  resize: vertical;
}

@media (min-width: 396px) {
  div#edit-body-wrapper textarea {
    width: 372px;
  }
}

@media (min-width: 576px) {
  div#edit-body-wrapper textarea {
    width: 538px;
  }
}

@media (min-width: 768px) {
  div#edit-body-wrapper textarea {
    width: 714px;
  }
}

@media (min-width: 992px) {
  div#edit-body-wrapper textarea {
    width: 934px;
  }
}

@media (min-width: 1200px) {
  div#edit-body-wrapper textarea {
    width: 1134px;
  }
}

input#edit-field-image-0-remove-button {
  cursor: not-allowed;
}

header {
  background-color: #fff;
  position: static;
}

header nav {
  width: 100%;
  background-color: #373a3c;
  color: #eceeef;
}

header nav > h2 {
  display: none;
}

header nav ul,
header nav ol {
  list-style: none;
  padding: 5px 0px;
  margin: 0px auto 0px;
  text-align: right;
}

header nav ul li,
header nav ol li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #818a91;
}

header nav ul li:last-child,
header nav ol li:last-child {
  margin: 0px;
  padding: 0px;
  border: none;
}

header nav ul li a,
header nav ol li a {
  color: inherit;
  text-decoration: none;
}

header nav ul li a:hover,
header nav ol li a:hover {
  font-weight: 900;
  text-decoration: none;
  letter-spacing: -0.4px;
  color: inherit;
}

.logo-search .logo > div {
  max-height: 300px;
  padding: 0px 10px 0px 0px;
}

.logo-search .logo > div a {
  color: header-bg;
}

.logo-search .logo > div a img {
  max-height: 285px;
  min-height: 35px;
}

.logo-search .logo > div a:hover {
  color: header-bg;
  text-decoration: none;
}

.logo-search .logo > div a ~ a {
  display: none;
}

.logo-search .search > div {
  padding: 5px 10px 10px;
}

.logo-search .search > div h2 {
  display: none;
}

.logo-search .search > div form {
  text-align: right;
}

.logo-search .search > div form div {
  display: inline;
}

.logo-search .search > div form div input {
  text-align: left;
}

.logo-search .search > div form div input[type=search] {
  width: 150px;
}

.logo-search .search > div form div input[type=search]:focus {
  width: 250px;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #0232cc;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #0232cc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #0232cc;
}

.logo-search .search > div form div input[type=submit] {
  display: none;
}

div#main-navbar nav > ul, div#main-navbar nav > ol {
  list-style: none;
  padding-right: -30px;
  padding-left: 0px;
  margin: 0px auto;
}

div#main-navbar nav > ul > li, div#main-navbar nav > ul > li.active, div#main-navbar nav > ol > li, div#main-navbar nav > ol > li.active {
  display: inline-block;
  position: relative;
  padding: 15px 0px;
  margin-right: 30px;
}

div#main-navbar nav > ul > li:hover > a, div#main-navbar nav > ul > li.active:hover > a, div#main-navbar nav > ol > li:hover > a, div#main-navbar nav > ol > li.active:hover > a {
  color: #fff;
  text-decoration: inherit;
  -moz-box-shadow: 0px -2px 0px #fff inset;
  -webkit-box-shadow: 0px -2px 0px #fff inset;
  box-shadow: 0px -2px 0px #fff inset;
}

div#main-navbar nav > ul > li a, div#main-navbar nav > ul > li.active a, div#main-navbar nav > ol > li a, div#main-navbar nav > ol > li.active a {
  padding: 13px 0px 15px;
  color: #f7f7f9;
  text-decoration: none;
}

div#main-navbar nav > ul > li.dropdown > a:after, div#main-navbar nav > ul > li.active.dropdown > a:after, div#main-navbar nav > ol > li.dropdown > a:after, div#main-navbar nav > ol > li.active.dropdown > a:after {
  font-family: "FontAwesome";
  content: " \f0d7";
  color: #f7f7f9;
}

div#main-navbar nav > ul > li.dropdown > ul.dropdown-menu, div#main-navbar nav > ul > li.active.dropdown > ul.dropdown-menu, div#main-navbar nav > ol > li.dropdown > ul.dropdown-menu, div#main-navbar nav > ol > li.active.dropdown > ul.dropdown-menu {
  top: 50px;
  left: 0px;
  z-index: 500;
}

div#main-navbar nav > ul > li.dropdown > ul.dropdown-menu > li.dropdown > a:after, div#main-navbar nav > ul > li.dropdown > ul.dropdown-menu > li.active.dropdown > a:after, div#main-navbar nav > ul > li.active.dropdown > ul.dropdown-menu > li.dropdown > a:after, div#main-navbar nav > ul > li.active.dropdown > ul.dropdown-menu > li.active.dropdown > a:after, div#main-navbar nav > ol > li.dropdown > ul.dropdown-menu > li.dropdown > a:after, div#main-navbar nav > ol > li.dropdown > ul.dropdown-menu > li.active.dropdown > a:after, div#main-navbar nav > ol > li.active.dropdown > ul.dropdown-menu > li.dropdown > a:after, div#main-navbar nav > ol > li.active.dropdown > ul.dropdown-menu > li.active.dropdown > a:after {
  font-family: "FontAwesome";
  content: " \f0da";
  color: #eceeef;
}

div#main-navbar nav > ul > li.dropdown > ul.dropdown-menu > li > a, div#main-navbar nav > ul > li.dropdown > ul.dropdown-menu > li.active > a, div#main-navbar nav > ul > li.active.dropdown > ul.dropdown-menu > li > a, div#main-navbar nav > ul > li.active.dropdown > ul.dropdown-menu > li.active > a, div#main-navbar nav > ol > li.dropdown > ul.dropdown-menu > li > a, div#main-navbar nav > ol > li.dropdown > ul.dropdown-menu > li.active > a, div#main-navbar nav > ol > li.active.dropdown > ul.dropdown-menu > li > a, div#main-navbar nav > ol > li.active.dropdown > ul.dropdown-menu > li.active > a {
  color: #eceeef;
}

div#main-navbar nav > ul > li.dropdown > ul.dropdown-menu > li > a:hover, div#main-navbar nav > ul > li.dropdown > ul.dropdown-menu > li.active > a:hover, div#main-navbar nav > ul > li.active.dropdown > ul.dropdown-menu > li > a:hover, div#main-navbar nav > ul > li.active.dropdown > ul.dropdown-menu > li.active > a:hover, div#main-navbar nav > ol > li.dropdown > ul.dropdown-menu > li > a:hover, div#main-navbar nav > ol > li.dropdown > ul.dropdown-menu > li.active > a:hover, div#main-navbar nav > ol > li.active.dropdown > ul.dropdown-menu > li > a:hover, div#main-navbar nav > ol > li.active.dropdown > ul.dropdown-menu > li.active > a:hover {
  box-shadow: none;
  color: #f7f7f9;
}

div#main-navbar nav > ul > li.dropdown ul.dropdown-menu, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu {
  display: none;
  list-style: none;
  position: absolute;
  width: 200px;
  padding: 0px;
  background-color: #373a3c;
  color: #eceeef;
}

div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li, div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li.active, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.active, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li.active, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.active {
  border-top: 1px #818a91 solid;
  padding: 10px 10px;
  width: 180px;
}

div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li:last-child, div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li.active:last-child, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li:last-child, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.active:last-child, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li:last-child, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li.active:last-child, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li:last-child, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.active:last-child {
  border-bottom: 1px #818a91 solid;
}

div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li:hover, div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li.active:hover, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li:hover, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.active:hover, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li:hover, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li.active:hover, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li:hover, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.active:hover {
  color: #f7f7f9;
  background: #55595c;
}

div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li.dropdown > a:after, div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li.active.dropdown > a:after, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.dropdown > a:after, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.active.dropdown > a:after, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li.dropdown > a:after, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li.active.dropdown > a:after, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.dropdown > a:after, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.active.dropdown > a:after {
  font-family: "FontAwesome";
  content: " \f0da";
  color: #eceeef;
}

div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li.dropdown ul.dropdown-menu, div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li.active.dropdown ul.dropdown-menu, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.dropdown ul.dropdown-menu, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.active.dropdown ul.dropdown-menu, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li.dropdown ul.dropdown-menu, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li.active.dropdown ul.dropdown-menu, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.dropdown ul.dropdown-menu, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.active.dropdown ul.dropdown-menu {
  border-left: 5px #818a91 solid;
}

div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li.dropdown:hover > ul.dropdown-menu, div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li.active.dropdown:hover > ul.dropdown-menu, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.dropdown:hover > ul.dropdown-menu, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.active.dropdown:hover > ul.dropdown-menu, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li.dropdown:hover > ul.dropdown-menu, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li.active.dropdown:hover > ul.dropdown-menu, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.dropdown:hover > ul.dropdown-menu, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.active.dropdown:hover > ul.dropdown-menu {
  display: block;
  left: 200px;
  top: 0px;
}

div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li > a, div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li.active > a, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li > a, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.active > a, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li > a, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li.active > a, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li > a, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.active > a {
  color: #eceeef;
}

div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li > a:hover, div#main-navbar nav > ul > li.dropdown ul.dropdown-menu li.active > a:hover, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li > a:hover, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.active > a:hover, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li > a:hover, div#main-navbar nav > ol > li.dropdown ul.dropdown-menu li.active > a:hover, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li > a:hover, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.active > a:hover {
  box-shadow: none;
  color: #f7f7f9;
}

div#main-navbar nav > ul > li.dropdown:hover > ul.dropdown-menu, div#main-navbar nav > ul > li.active.dropdown:hover > ul.dropdown-menu, div#main-navbar nav > ol > li.dropdown:hover > ul.dropdown-menu, div#main-navbar nav > ol > li.active.dropdown:hover > ul.dropdown-menu {
  display: block;
}

div#main-navbar nav > ul > li.active > a, div#main-navbar nav > ol > li.active > a {
  -moz-box-shadow: 0px -1px 0px #f7f7f9 inset;
  -webkit-box-shadow: 0px -1px 0px #f7f7f9 inset;
  box-shadow: 0px -1px 0px #f7f7f9 inset;
}

div#main-navbar nav > ul > li.active > a.is-active, div#main-navbar nav > ol > li.active > a.is-active {
  color: #f7f7f9;
}

div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.active, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.active {
  background-color: #373a3c;
}

div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.active a, div#main-navbar nav > ul > li.active.dropdown ul.dropdown-menu li.active a.is-active, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.active a, div#main-navbar nav > ol > li.active.dropdown ul.dropdown-menu li.active a.is-active {
  color: #f7f7f9;
}

#main-navbar {
  background: #0033cc;
  border-bottom: 1px #002699 solid;
}

.highlight {
  background: #f7f7f9;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 15px;
  border-bottom: 1px #eceeef solid;
}

.messages {
  background: #f2dede;
}

main article img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  main div.maincontent.col-xl-8 > div, main div.maincontent.col-md-6 > div {
    margin-left: 0.9125rem;
    margin-right: 0.9125rem;
  }
}

@media (min-width: 576px) {
  main div.maincontent.col-lg-9.push-lg-3 > div, main div.maincontent.col-sm-8.push-sm-4 > div {
    margin-left: 0.9125rem;
    margin-right: 0rem;
  }
}

@media (min-width: 576px) {
  main div.maincontent.col-lg-9 > div, main div.maincontent.col-sm-8 > div {
    margin-right: 0.9125rem;
  }
}

.sidebar-left {
  z-index: 5;
}

.sidebar-right {
  z-index: 5;
}

.breadcrumb {
  padding: 0.75rem 0px;
  list-style: none;
  background-color: #eceeef;
  margin-top: 0px;
  margin-bottom: 0px;
}

.breadcrumb::after {
  content: "";
  display: table;
  clear: both;
}

.breadcrumb > li {
  float: left;
}

.breadcrumb > li + li::before {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #818a91;
  content: "/";
}

.breadcrumb > li a {
  color: #818a91;
}

.breadcrumb > li a:hover {
  text-decoration: none;
  color: #373a3c;
}

.breadcrumb > .active {
  color: #818a91;
}

#block-bluerain-breadcrumbs {
  background-color: #eceeef;
}

footer.pagefooter {
  background-color: #373a3c;
  color: #55595c;
  display: block;
  overflow: auto;
}

footer.pagefooter a {
  color: #55595c;
}

footer.pagefooter a:hover {
  color: #818a91;
  text-decoration: none;
}

footer.pagefooter section {
  padding: 25px 0px;
}

footer.pagefooter nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  max-width: 200px;
}

footer.pagefooter nav ul li {
  padding: 10px 25px 10px 0px;
  border-top: 1px #55595c solid;
  border-bottom: 1px #55595c solid;
}

footer.pagefooter nav ul li:first-child {
  border-top: 2px #55595c solid;
}

footer.pagefooter nav ul li:last-child {
  border-bottom: 2px #55595c solid;
}

/*# sourceMappingURL=main.css.map */