// General Colors

// Themed Colors

$brand-primary: #0232cc;
$brand-secondary: #0033cc;

// General Colors
$link-hover-color: $link-color;

// Header Colors
$header-bg: $body-bg;
$header-nav-bg: $gray-dark;
$header-nav-color: $gray-lighter;

// Main Menu Colors
$main-menu-bg: $brand-secondary;
$main-menu-color: $gray-lightest;
$main-menu-hover-color: #fff;

// Breadcrumb Color overrides
$breadcrumb-color: $gray-light;
$breadcrumb-hover-color: $gray-dark;
