main{
  article img { // no overflow of images, retain proportion
    max-width: 100%;
    height: auto;
  }
  div.maincontent {
    &.col-xl-8, &.col-md-6 {
      >div {
        @media (min-width: map-get($grid-breakpoints,"md")) {
          margin-left: $grid-width;
          margin-right: $grid-width;
        }
      }
    }
    &.col-lg-9.push-lg-3, &.col-sm-8.push-sm-4 {
      >div {
        @media (min-width: map-get($grid-breakpoints, "sm")) {
          margin-left: $grid-width;
          margin-right: 0rem;
        }
      }
    }
    &.col-lg-9, &.col-sm-8 {
      >div {
        @media (min-width: map-get($grid-breakpoints, "sm")) {
          margin-right: $grid-width;
        }
      }
    }
  }
}
