nav#block-bluerain-main-menu {

  ul, ol {
    list-style: none;
    padding-right: -30px;
    padding-left: 0px;
    margin: 0px auto;
    li {
      display: block;
      float: left;
      position: relative;
      padding: 15px 0px;
      margin-right: 30px;
      a {
        padding: 13px 0px 15px;
        color: $main-menu-color;
        text-decoration: none;
        &:hover{
          color: $main-menu-hover-color;
          text-decoration: inherit;
          @include box-shadows(0px -2px 0px $main-menu-hover-color inset);
        }
      }
      &.dropdown {
        > a:after {
          font-family: "FontAwesome";
          content: " \f078";
          color: $main-menu-color;
        }
        > ul {
          display: none;
          position: absolute;
          top: 50px;
          left: 0px;
          width: 200px;
          background-color: $main-menu-dropdown-bg;
          color: $main-menu-dropdown-color;
          z-index: 500;
          > li {
            border-top: 1px $main-menu-dropdown-hover-bg solid;
            &:last-child {
              border-bottom: 1px $main-menu-dropdown-hover-bg solid;
            }
            > a {
              color: $main-menu-dropdown-color;
              padding-left: 10px;
              padding-right: 10px;
              &:hover {
                color: $main-menu-dropdown-hover-color;
                box-shadow: none;
                background: $main-menu-dropdown-hover-bg;
              }
            }
          }
        }
        &:hover {
          > ul {
            display: block;

          }
        }
      }
    }
  }
}
#main-navbar {
  background: $main-menu-bg;
  border-bottom: 1px darken($main-menu-bg,10%) solid;
}
